.main-description {
    padding: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main-description h1 {
    font-size: 1.5em;
    margin: 10px 0;
}

.main-description p {
    font-size: 1em;
    line-height: 1.5;
}