.computer {
  width: 100%;
  position: relative;
  display: block;
  text-align: center;
  margin-bottom: 5px;
}

.server {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
}

.cloud {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 48px;
  padding: 20px;
}

.connection-point-top{
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  background-color: green;
  border-radius: 50%;
}

.connection-point-bottom{
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  background-color: green;
  border-radius: 50%;
}