.materials img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.lock-icon {
    font-size: 60px;
    margin-bottom: 20px;
}

input[type="number"] {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 80%;
}

#mensajeFinal{
    font-size: 18px;
    margin-top: 20px;
}

.error-message {
    color: red;
    font-weight: bold;
}

.congratulation-message {
    color: green;
    font-weight: bold;
}

.lock-section {
    font-size: 18px;
    text-align: center;
    width: 100%;
}

.activity-description h3 {
    margin: 17px 21px 0 21px;
}

.activity-materials {
  display: flex; /* Organiza las dos 'materials-section' en una fila */
  justify-content: space-around; /* Espacia las secciones uniformemente */
  align-items: flex-start; /* Alinea las secciones en la parte superior */
  margin-top: 20px; /* Añade un poco de espacio arriba */
}

.material {
  display: flex;
  flex-direction: column; /* Apila el título y la imagen verticalmente */
  align-items: center; /* Centra el título y la imagen horizontalmente */
  text-align: center; /* Centra el texto del h4 si es multilínea */
}

.material h4 {
  margin-bottom: 10px; /* Espacio entre el título y la imagen */
}

.material a {
  display: inline-block; 
  line-height: 0; 
}

.material a img {
  display: block; 
  max-width: 100px; /* Ajusta el tamaño máximo de la imagen si es necesario */
  height: auto; 
}

.material a img:hover {
    transform: scale(1.05);
}

.activity-materials h4{
    font-size: 1rem;
    margin:0 0 0 0;
}