.activity-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.activity-section-buttons {
    display: flex;
    gap: 10px;
}

.activity-section h3{
    margin: 0;
}

.activity-section p {
    margin-top: 0;
    margin-bottom: 1em;
}

.text-code-area {
    width: 45vw;
    height: 30vh;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.result-box {
    font-weight: bold;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    margin-block-end: 1em;
}

.result-box:empty {
    display: none;
}
