RewriteEngine On
RewriteBase /colegios/

# Manejar archivos estáticos
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Excluir archivos con extensiones específicas
RewriteCond %{REQUEST_URI} !\.(?:css|js|map|jpe?g|gif|png|ico|svg|woff2?)$ [NC]

# Redirigir al index.html
RewriteRule ^(.*)$ index.html [L,QSA]

