.custom-buttons {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.custom-buttons:hover {
    background-color: #218838;
}

.custom-buttons:disabled,
.custom-buttons:disabled:hover {
  background-color: #218838;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}