.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f0f0f0; /* Fondo claro para el contenedor principal */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.gif-image{
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
}

.presentation-Container {
  width: 90%;
  margin: 0 auto; /* Centra el contenedor */
  text-align: center; /* Centra los textos internos */
  line-height: 1.6;
  margin-bottom: 15px;
}

.presentation-Container p {
    text-align: center;
    font-size: 18px;
}

.interactive-face {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 3px solid #FF9800;
  border-radius: 50%;
  background: linear-gradient(45deg, #FFE0B2, #FFCC80);
  width: 40%;
  height: 250px;
}

.interactive-face .eyes-container {
  display: flex;
  gap: 10px; /* Espacio entre los ojos */
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50%;
}

.interactive-face .right-eye {
  rotate: y 180deg;
}

.interactive-face .face-Component {
  cursor: pointer;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  gap: 10px; /* Espacio entre los botones */
  margin-top: 10px;
}

/* Responsive */
@media (max-width: 768px) {
  .interactive-face {
    padding: 15px;
    margin: 10px;
  }
}
